body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #34495e;
    background-image: url("bg.png");
    background-size: cover;
    background-position: center;

}

.a{
  
}

.formContainer {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    text-align: center;
}

.wrapper {
    /*This part is important for centering*/
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
.typing-demo {
    color:whitesmoke;
    width: 22ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

.formContainer input[type="email"],
.formContainer input[type="text"],
.formContainer input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid cadetblue;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.formContainer input[type="email"]:focus,
.formContainer input[type="text"]:focus,
.formContainer input[type="password"]:focus {
    width: 280px;
    border-color: cadetblue;
}

.formContainer button {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgb(4, 88, 84);
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.formContainer button:hover {
    background: cadetblue;
}

.floated {
    display:inline-block;
    margin-right:5px;
 }