@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css?family=Megrim');


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body
{
    min-height: 100vh;
    background: linear-gradient(#3e4f57, #3e4f57);
    overflow-x: hidden;
    color:#3e4f57
}

header
{  
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

header .logo
{
    margin: 20px 0;
	padding: 0;
    font-family: 'Megrim', cursive;
    font-size: 48px;
	color: yellow;
	text-align: center;
}

header ul
{
    display: flex;
    justify-content: center;
    align-items: center;

}

header ul li{
    list-style: none;
    margin-left: 20px;
}

header ul li a
{
    
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}

header ul li a:hover,
header ul li a.active
{
    background: #fff;
    color: #000000;

}

body {
    background-image:url('main_bg.gif');;
    background-repeat:no-repeat;
    background-size: cover;
    }

.pac{
    margin-top: 100px;
    margin-left: 200px;
}
